<div class="PageContainer">
  <!-------------header--------------->
  <div class="PageHeader-container">
    <div class="PageHeader-Text">
      Kontakt
    </div>
    <div class="PageHeader-underline"></div>
  </div>

  <!-----------content-------------->
  <div class="page-content">

    <div class="page-boxescol">
      <div class="box-col col-center-content">

        <!--vision and goals-->
        <div class="box-container small">

          <div class="box-header">
            Kontakt
          </div>

          <!--info content-->
          <div class="box-items-container">
            <div class="contact-row">
              <!--phone call-->
              <mat-icon class="contact-icon" [inline]="true">call</mat-icon>
              <div class="contact-text">
                +46(0)7 68 65 77 66
              </div>
            </div>

            <!--mail-->
            <div class="contact-row">
              <mat-icon class="contact-icon" [inline]="true">mail_outline</mat-icon>
              <div class="contact-text">
                henrik@ralva.se
              </div>
            </div>

            <!--skype call-->
            <div class="contact-row">
              <div class="contact-icon-container">
                <mat-icon class="contact-icon" svgIcon="skype" [inline]="true"></mat-icon>
              </div>
              <div class="contact-text">
                ralvert
              </div>
            </div>

            <div class="contact-row">
              www.henrikscv.se
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>