<div class="PageContainer">
  <!-------------header--------------->
  <div class="PageHeader-container" *ngIf="desktopScreen">
    <div class="PageHeader-Text">
      Admin
    </div>
    <div class="PageHeader-underline"></div>
  </div>

  <!-----------content-------------->
  <div class="page-content">
    <div class="box-container">
      <div class="box-header">
        Kunskaper
      </div>
      <app-button type="save" (click)="addNewKnowledges()" text="Lägg upp ny kunskaper"></app-button>
    </div>
  </div>
</div>