<div class="PageContainer">
  <!-------------header--------------->
  <div class="PageHeader-container" *ngIf="desktopScreen">
    <div class="PageHeader-Text">
      Karriär
    </div>
  </div>

  <!-----------content-------------->
  <div class="page-content">

    <div class="page-boxescol">
      <div class="box-col">
        <app-info-box class="box-margins" [InfoBox]="MyCareer"></app-info-box>

        <app-career-box class="box-margins"></app-career-box>

      </div>

    </div>

  </div>
</div>