<div class="PageContainer">
  <!-------------header--------------->
  <div class="PageHeader-container" *ngIf="desktopScreen">
    <div class="PageHeader-Text">
      Om detta CV
    </div>
    <div class="PageHeader-underline"></div>
  </div>

  <!-----------content-------------->
  <div class="page-content">

    <div class="page-boxescol ">

      <!--column for test-->

      <!-- <div class="box-col">
      </div> -->

      <!--column for whats-->
      <div class="box-col col-center-content">
        <app-what-box [BoxData]="WhatBoxData" class="box-margins"></app-what-box>

        <app-realtime-box [BoxData]="RealtimeBoxData"></app-realtime-box>
      </div>

    </div>
  </div>
</div>