
$about-aboutrowmargin:13px;
$about-whattextmargin:10px;
$about-fontsize:17px;

$about-whatwidth:90px;
$about-whatfontweight:700;

.about-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: $about-aboutrowmargin;
}


.about-what {
  width: $about-whatwidth;
  font-weight: $about-whatfontweight;
}


.about-text {
  font-size: $about-fontsize;
  margin-left: $about-whattextmargin;
}