<mat-drawer-container class="app-container" autosize>

  <!--side menu-->
  <mat-drawer #drawer mode="side">

    <div class="Menu-inner">

      <!-----------------buttons------------------->
      <div class="buttons-container">

        <div class="PageButt-container" (click)="GoToPage(page.Page)" [ngClass]="{'PageButt-active' : page.Active}"
          *ngFor="let page of MenuPages">
          <mat-icon>home</mat-icon>
          <div *ngIf="menuWide" class="PageButt-text-container">
            <div class="PageButt-text-name">
              {{page.Name}}
            </div>
            <div class="PageButt-text-description">
              {{page.Description}}
            </div>
          </div>
        </div>

      </div>

      <!-------expand collapse button -------------->
      <div class="ButtonExpand-container" (click)="expandMenu()">
        <div class="arrow" [ngClass]="{'arrow-expand': menuWide , 'arrow-shrink' : !menuWide}"></div>
      </div>
    </div>

  </mat-drawer>

  <!--Router-->
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
