<mat-drawer-container class="app-container" autosize>

  <!--side menu-->
  <mat-drawer #drawer mode="side">
    <div class="Menu-inner">

      <!----------------- small links ------------->
      <div class="small-links-container" [ngClass]="{'small-links-expanded' : menuWide, 'small-links-shrinked' : !menuWide}">
        <mat-icon class="smalllink" [inline]="true" *ngIf="!adminOnline" (click)="openLoginModal()">lock</mat-icon>
        <mat-icon class="smalllink" [inline]="true" *ngIf="adminOnline" (click)="LogOut()">lock_open</mat-icon>
        <mat-icon class="smalllink" svgIcon="github" [inline]="true"></mat-icon>
        <mat-icon class="smalllink" svgIcon="linkedin"></mat-icon>
      </div>

      <!-----------------buttons------------------->
      <div class="buttons-container">
        <div class="PageButt-wrapper" *ngFor="let page of MenuPages">
          <div *ngIf="(page.Page !== 'admin') || ((page.Page === 'admin') && adminOnline)" class="PageButt-container" (click)="GoToPage(page.Page)"
            [ngClass]="{'PageButt-active' : page.Active}">

            <div class="PageButt-icon">
              <mat-icon [inline]="true">{{page.Icon}}</mat-icon>
            </div>

            <div *ngIf="menuWide" class="PageButt-text-container">
              <div class="PageButt-text-name">
                {{page.Name}}
              </div>
              <div class="PageButt-text-description">
                {{page.Description}}
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-------expand collapse button -------------->
      <div class="ButtonExpand-container" (click)="expandMenu()">
        <div class="arrow" [ngClass]="{'arrow-expand': menuWide , 'arrow-shrink' : !menuWide}"></div>
      </div>

    </div>

  </mat-drawer>

  <!--Router-->
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
