@import '../themes/colors.scss';
@import '../themes/common.scss';

$menu-padding:5px;
$menu-maxwidth:300px;

$pagebutt-iconsize-width:50px;
$pagebutt-iconsize-height:50px;
$pagebutt-iconsize:45px;
$pagebutt-namesize:17px;
$pagebutt-padding:20px;
$pagebutt-icontext-margin:15px;
$pagebutt-height:55px;

$expandbutt-hieght:40px;

.app-container {
  width: 100vw;
  height: 100vh;
}


.router-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}


/*--------------------------- side nav ------------------*/
.Menu-inner {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: fit-content;
  max-width: $menu-maxwidth;
  height: 100%;
}


.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  width: fit-content;
}

/*----------------- buttons side nav --------------*/
.PageButt-container {
  display: flex;
  min-width: 100%;
  width: fit-content;
  height: $pagebutt-height;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding:$pagebutt-padding;
  cursor: pointer;
}

.PageButt-container:hover{
    background-color: green;
}

.PageButt-active{
    background-color: red;
}

.PageButt-icon {
  width: $pagebutt-iconsize-width;
  height: $pagebutt-iconsize-height;
  font-size: $pagebutt-iconsize;
}

.PageButt-text-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  margin-left:$pagebutt-icontext-margin;
}


.PageButt-text-name {
  font-size: $pagebutt-namesize;
  width: 100;
}

.PageButt-text-description {
  font-size: $pagebutt-namesize;
  width: 100;
}

/*---------------- arrow button bottom ----------------*/
.ButtonExpand-container {
    height: $expandbutt-hieght;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
  }

  .arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 4px;
    display: inline-block;
    transition: all 0.2s ease;
  }

  .arrow-expand{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 15px 10px 15px 0px;
  }

  .arrow-shrink{
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    margin: 15px 10px 15px 10px;
  }

  .mat-drawer-inner-container{
    overflow:  !important;
}

