@import '../themes/colors.scss';
@import '../themes/common.scss';

$menu-padding:5px;
$menu-maxwidth:300px;

$pagebutt-iconsize-width:30px;
$pagebutt-iconsize-height:30px;
$pagebutt-iconsize:30px;
$pagebutt-namesize:22px;
$pagebutt-descsize:15px;
$pagebutt-padding:20px;
$pagebutt-icontext-margin:15px;
$pagebutt-height:55px;

$expandbutt-hieght:40px;

$smallLink-margin:5px;
$smalllink-padding:5px;
$smallLink-containerpadding:3px;
$smallLink-fontsize:20px;
$smallLink-wdith:25px;

.app-container {
  width: 100vw;
  height: 100vh;
}


.router-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}


/*--------------------------- side nav ------------------*/
.Menu-inner {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: fit-content;
  max-width: $menu-maxwidth;
  height: 100%;
  background: var(--menu-dark);
  background: -moz-linear-gradient(top, var(--menu-light) 0%, var(--menu-light) 52%, var(--menu-dark) 100%);
  background: -webkit-linear-gradient(top, var(--menu-light) 0%, var(--menu-light) 52%, var(--menu-dark) 100%);
  background: linear-gradient(to bottom, var(--menu-light) 0%, var(--menu-light) 52%, var(--menu-dark) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f74fe', endColorstr='#6fa9fb', GradientType=0);
}


.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  width: fit-content;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer-container {
  background-color: #f1f1f1 !important;
}

/*----------------- buttons small upp -------------*/
.small-links-container{
  width:100%;
  position: absolute;
  display: flex;
  color:white;
  font-size: $smallLink-fontsize;
}

.small-links-expanded{
  flex-direction: row;
  align-items: center;
}

.small-links-shrinked{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smalllink{
  margin:$smallLink-margin;
  padding:$smalllink-padding;
  width: $smallLink-wdith !important;
  height:$smallLink-wdith !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  path{
    fill:white !important;
  }
}

.smalllink:hover{
  background-color: var(--menu-button-hover);
  border-radius: 50%;
}


/*----------------- buttons side nav --------------*/
.PageButt-wrapper{
  min-width: 100%;
  width: fit-content;
}


.PageButt-container {
  display: flex;
  min-width: 100%;
  width: fit-content;
  height: $pagebutt-height;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: $pagebutt-padding;
  cursor: pointer;
}

.PageButt-container:hover {
  background-color: var(--menu-button-hover);
}

.PageButt-active {
  background-color: var(--menu-button-active);
}

.PageButt-icon-container {
  width: $pagebutt-iconsize-width;
  height: $pagebutt-iconsize-height;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 55px;
}

.PageButt-icon {
  font-size: $smallLink-fontsize;
  color: white;
}

.PageButt-text-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  margin-left: $pagebutt-icontext-margin;
}


.PageButt-text-name {
  font-size: $pagebutt-namesize;
  width: 100;
  color: white;
}

.PageButt-text-description {
  font-size: $pagebutt-descsize;
  width: 100;
  color: rgb(245, 245, 245);
}

/*---------------- arrow button bottom ----------------*/
.ButtonExpand-container {
  height: $expandbutt-hieght;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

.ButtonExpand-container:hover {
  background-color: var(--menu-button-hover);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 4px;
  display: inline-block;
  transition: all 0.2s ease;
}

.arrow-expand {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 15px 10px 15px 0px;
}

.arrow-shrink {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  margin: 15px 10px 15px 10px;
}
