:root {
  /*---- menu specifics ----*/
  --menu-dark: #3a65ff;
  --menu-light: #5da0ff;
  --menu-button-active: #7bb3ff;
  --menu-button-hover: #96c3fd;
  --menu-button-description: #e4e4e4;

  /*---- Page specifics -----*/
  --page-background: #ffffff;
  --page-headercolor: #575757;

  /*--- Boxes --- */
  --box-headertext: #ff933a;
  --box-textcolor: #383838;
  --box-border: white;
  --box-background: #ffffff;

  /*-- scrollbar ---*/
  --scroll-track: #e4e4e4;
  --scroll-thumb: #7c7c7c;

  /*------- buttons -------*/
  --button-save: #32a43c;
  --button-save-hover: #56b158;
  --button-standard: #488aff;
  --button-standard-hover: #73a6ff;
  --button-phonSidenav: #525252;

  /*------splash ---*/
  --splash-border-img: #f0f0f0;
  --splash-textDescription: #dfdfdf;

  /*----portfolio----*/
  --button-background-hover:rgba(255,255,255,0.5);
}