/*Commonly used css. Like graphical containers, buttons, etc.*/
@import './colors.scss';


/*---------- page containers -----*/
$pagecontainer-BigScreenPadding:20px; // page padding big screen
$pagecontainer-SmallScreenPadding:2px; // page padding small screen
$pageHeader-fontsize:55px; // side of the page header
$pageHeader-marginleft:25px; // margin to the page side
$pageHeader-underline-width:550px; // length of the underline
$pageHeader-underline-marginBottom:10px; // distance from the header bottom (abolute position)
$pageBoxWrapper-margin:10px;

/*---------- boxes --------------*/
$box-big-width:750px; // width for big boxes
$box-med-width:450px; // width for med boxes
$box-small-wdith:300px; // width for small boxes
$box-maxwidth:100%; // max width for a box.
$box-bigScreen-margins:20px; // margins between the boxes big
$box-smallScreen-margins:5px; // margins between the boxes small
$box-bigScreen-padding:15px; // box padding for big screen
$box-smalScreen-padding:2px;// box padding for small screen
$box-header-fontsize:22px; // fontsize of the box headers
$box-items-leftmargin:20px; // box items margin left. Like knowdleges and stuff
$box-items-topmargin:10px; // box items margin top

/*---------boxes text------------*/
$box-paragraph-fontsize:15px; // the text size inside the boxes
$box-paragraph-marginNext:20px; // margin to the next text paragraph

/*------- scrollbar sizes --------*/
$scroll-wdith:10px;
$scroll-height:10px;
$scroll-track-marginBottTop:4px;
$scroll-track-borderradius:7px;
$scroll-thumb-borderradius:7px;

$myprojects-topmargins:20px;


/*----------------------------------- scrollbar ----------------------------------------*/
@mixin henrikScrollBar {
  ::-webkit-scrollbar {
    width: $scroll-wdith;
    height: $scroll-height;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: $scroll-track-borderradius;
    margin-bottom: $scroll-track-marginBottTop;
    margin-top: $scroll-track-marginBottTop;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: $scroll-thumb-borderradius;
    cursor: pointer;
  }
}


/*------------------------------------ screen control ----------------------------------*/
$screenszies: ('smallscreen':650px, "bigscreen": 15000px);

@mixin ScreenSize($sizeType) {
  @if map-has-key($screenszies, $sizeType) {
    @media (max-width: #{map-get($screenszies, $sizeType)}) {
      @content;
    }
  }

  @else {
    @warn "sass error, could not identify";
  }
}

/*------------------------------- page container -------------------------------------*/
@mixin PageContainer {
  @include henrikScrollBar;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: fit-content;
  overflow-y: auto;
  background-color: var(--page-background);

  @include ScreenSize('bigscreen') {
    padding-left: $pagecontainer-BigScreenPadding;
    padding-right: $pagecontainer-BigScreenPadding;
    padding-top: $pagecontainer-BigScreenPadding;
  }

  @include ScreenSize('smallscreen') {
    padding-left: $pagecontainer-SmallScreenPadding;
    padding-right: $pagecontainer-SmallScreenPadding;
    padding-top: $pagecontainer-SmallScreenPadding;
  }
}

.PageContainer {
  @include PageContainer;
}

.PageHeader-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.PageHeader-Text {
  font-size: $pageHeader-fontsize;
  color: var(--page-headercolor);
  margin-left: $pageHeader-marginleft;
}

.PageHeader-underline {
  border-bottom: 1px solid var(--page-headercolor);
  height: 1px;
  width: $pageHeader-underline-width;
  position: absolute;
  bottom: $pageHeader-underline-marginBottom;
}


/*------------------------- page content ----------------------*/
.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  flex: 1;
  overflow-x: hidden;

}


.page-boxescol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 100%;
}


.box-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
}


.page-box-wrapper {
  /*--only det boxes ---*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  margin: $pageBoxWrapper-margin;
}

.box-margins {
  @include ScreenSize('bigscreen') {
    margin-left: $box-bigScreen-margins;
    margin-right: $box-bigScreen-margins;
    margin-bottom: $box-bigScreen-margins;
  }

  @include ScreenSize('smallscreen') {
    margin-top: $box-smallScreen-margins;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}


/*------------------------ boxes -----------------------------*/

.transp-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: $box-maxwidth;
}

.myprojects-margintop {
  margin-top: $myprojects-topmargins;
}


.box-container {
  display: flex;
  flex-direction: column;
  background-color: var(--box-background);
  border: 1px solid var(--box-border);
  max-width: $box-maxwidth;
  height: fit-content;
  overflow: hidden;
  position: relative;

  &.small {
    width: $box-small-wdith;
  }

  &.med {
    width: $box-med-width;
  }

  &.big {
    width: $box-big-width;
  }

  @include ScreenSize('bigscreen') {
    padding: $box-bigScreen-padding;
  }

  @include ScreenSize('smallscreen') {
    padding: $box-smalScreen-padding;
  }
}

.box-header {
  font-size: $box-header-fontsize;
  width: 100%;
  color:var(--box-headertext);
}

.box-paragraph-header {
  font-size: $box-paragraph-fontsize;
  font-weight: bold;
}

.box-paragraph {
  margin-bottom: $box-paragraph-marginNext;
  color:var(--box-textcolor);
  font-size: $box-paragraph-fontsize;
}

.box-items-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: $box-items-leftmargin;
  margin-top: $box-items-topmargin;
}
