/*Commonly used css. Like graphical containers, buttons, etc.*/
@import './colors.scss';


/*---------- page containers -----*/
$pagecontainer-FullscreenPadding:20px;
$pagecontainer-smallscreenpadding:2px;
$pagecontainer-smallscreenToppadding:2px;
$pageHeader-fontsize:55px;
$pageHeader-marginleft:25px;
$pageHeader-underlinewidth:550px;
$pageHeader-underlineBottom:10px;


/*---------- boxes --------------*/
$box-bigwidth:750px;
$box-smallwidth:300px;
$box-medwidth:450px;
$box-maxwidth:100%;
$box-fullscreen-margins:20px;
$box-smallscreen-margins:5px;
$box-fullscreenpadding:15px;
$box-smallscreenpadding:2px;
$box-headerfontsize:22px;
$box-items-leftmargin:20px;
$box-items-topmargin:10px;

$myprojects-topmargins:20px;

/*---------boxes text------------*/
$box-paraggraph-fontsize:18px;
$box-marginbottom:20px;

/*------- scrollbar sizes --------*/
$scroll-wdith:10px;
$scroll-height:10px;
$scroll-track-marginBottTop:4px;
$scroll-track-borderradius:7px;
$scroll-thumb-borderradius:7px;

/*----------------------------------- scrollbar ----------------------------------------*/
@mixin henrikScrollBar {
  ::-webkit-scrollbar {
    width: $scroll-wdith;
    height: $scroll-height;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: $scroll-track-borderradius;
    margin-bottom: $scroll-track-marginBottTop;
    margin-top: $scroll-track-marginBottTop;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: $scroll-thumb-borderradius;
    cursor: pointer;
  }
}


/*------------------------------------ screen control ----------------------------------*/
$screenszies: ('smallscreen':650px, "bigscreen": 15000px);

@mixin ScreenSize($sizeType) {
  @if map-has-key($screenszies, $sizeType) {
    @media (max-width: #{map-get($screenszies, $sizeType)}) {
      @content;
    }
  }

  @else {
    @warn "sass error, could not identify";
  }
}

/*------------------------------- page container -------------------------------------*/
@mixin PageContainer {
  @include henrikScrollBar;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: fit-content;
  overflow-y: auto;
  background-color: var(--page-background);

  @include ScreenSize('bigscreen') {
    padding-left: $pagecontainer-FullscreenPadding;
    padding-right: $pagecontainer-FullscreenPadding;
    padding-top: $pagecontainer-FullscreenPadding;
  }

  @include ScreenSize('smallscreen') {
    padding-left: $pagecontainer-smallscreenpadding;
    padding-right: $pagecontainer-smallscreenpadding;
    padding-top: $pagecontainer-smallscreenToppadding;
  }
}

.PageContainer {
  @include PageContainer;
}

.PageHeader-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.PageHeader-Text {
  font-size: $pageHeader-fontsize;
  color: var(--page-headercolor);
  margin-left: $pageHeader-marginleft;
}

.PageHeader-underline {
  border-bottom: 1px solid var(--page-headercolor);
  height: 1px;
  width: $pageHeader-underlinewidth;
  position: absolute;
  bottom: $pageHeader-underlineBottom;
}


/*------------------------- page content ----------------------*/
.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  flex: 1;
  overflow-x: hidden;

}


.page-boxescol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 100%;
}


.box-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
}


.page-box-wrapper {
  /*--only det boxes ---*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: flex-start;
  margin: 10px;
}

.box-margins {
  @include ScreenSize('bigscreen') {
    margin-left: $box-fullscreen-margins;
    margin-right: $box-fullscreen-margins;
    margin-bottom: $box-fullscreen-margins;
  }

  @include ScreenSize('smallscreen') {
    margin-top: $box-smallscreen-margins;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}


/*------------------------ boxes -----------------------------*/

.transp-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: $box-maxwidth;
  overflow: hidden;
}

.myprojects-margintop {
  margin-top: $myprojects-topmargins;
}


.box-container {
  display: flex;
  flex-direction: column;
  background-color: var(--box-background);
  border: 1px solid var(--box-border);
  max-width: $box-maxwidth;
  height: fit-content;
  overflow: hidden;
  position: relative;

  &.small {
    width: $box-smallwidth;
  }

  &.med {
    width: $box-medwidth;
  }

  &.big {
    width: $box-bigwidth;
  }

  @include ScreenSize('bigscreen') {
    padding: $box-fullscreenpadding;
  }

  @include ScreenSize('smallscreen') {
    padding: $box-smallscreenpadding;
  }
}

.box-header {
  font-size: $box-headerfontsize;
  width: 100%;
}

.InfoBox.TextArray {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: $box-items-leftmargin;
  margin-top: $box-items-topmargin;
}

.box-paragraph-header {
  font-size: $box-paraggraph-fontsize;
  font-weight: bold;
}

.box-textparagraph {
  margin-bottom: $box-marginbottom;
}

.box-items-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: $box-items-leftmargin;
  margin-top: $box-items-topmargin;
}
