<div class="box-container big">

  <!--header-->
  <div class="header-row">
    <img class="header-img" src="./assets/groupcaller.png">
    <div class="header-text">
      GroupCaller
    </div>
  </div>

  <!--the line-->
  <div class="line-row">
    <div class="line"></div>
  </div>

  <!--the content-->
  <div class="content-container">

    <div class="product-img-container">
      <img class="product-img" src="./assets/GroupCallerScreens.png">
    </div>

    <div class="content-text">
      asdasdsadasd
      asdasdsadasd<br>
      asdasd
    </div>
  </div>

  <!--the line-->
  <div class="line-row">
    <div class="line"></div>
  </div>

  <div class="line-row button-height">

  </div>

  <div class="button-card">
      Ta mig till GroupCaller
    </div>
</div>
