<div class="box-container big" [ngClass]="getClass()">

  <!--header-->
  <div class="header-row">
    <img class="loggo-img" [src]="Portfolio.Loggo">
    <div class="header-text">
      {{Portfolio.Header}}
    </div>
  </div>

  <!--the line-->
  <div class="line-row">
    <div class="line" [style.border-color]="Portfolio.ColorDark"></div>
  </div>

  <!--the content-->
  <div class="content-container">

    <div class="product-img-container">
      <img class="product-img" [src]="Portfolio.ProductImage">
    </div>

    <div class="paragraph-container">
      <div [ngClass]="{'paragraph' : !last}" *ngFor="let textPar of Portfolio.TextArray; let last = last;">
        {{textPar.Text}}
      </div>
    </div>
  </div>

  <!--button-->
  <div class="line-row button-row ">
    <div class="button-container" (click)="gotToPort()">
      Gå till {{Portfolio.Header}}
      <mat-icon class="button-icon" [inline]="true">arrow_forward</mat-icon>
    </div>
  </div>

</div>
