@import '../../../themes/common.scss';

/*---top row specifics ---*/
$header-fontsize:22px;
$loggo-height:40px; // height of loggo
$loggo-marginright:10px; // margin to the header text


/*---- card content specifics ---*/
$prod-img-minwidth:200px;
$prod-text-minwidth:300px;
$prod-text-padding:10px;
$paragraph-margbott:16px; // the margin to next paragraph

/*----button----*/
$button-padding:7px;
$button-hieght:30px;
$button-icon-size:15px;
$button-icon-margintext:10px;
$button-borderradius:3px;

/*-------top row -----*/
.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}


.loggo-img {
  height: $loggo-height;
  margin-right: $loggo-marginright;
  width: auto;
}


.header-text {
  font-size: $header-fontsize;
}


.line-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  position: relative;
}


.line {
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 90%;
}


.button-row {
  justify-content: flex-end;
}


/*---------------content --------------*/
.content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
}


.product-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: $prod-img-minwidth;
}


.product-img {
  width: 100%;
  height: auto;
}


.paragraph-container {
  display: flex;
  flex: 1;
  min-width: $prod-text-minwidth;
  flex-direction: column;
  justify-content: center;
  padding: $prod-text-padding;
}


.paragraph {
  margin-bottom: $paragraph-margbott;
}


/*-------------button ------------------*/
.button-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: center;
  padding: $button-padding;
  border: 2px solid white;
  cursor: pointer;
  border-radius: $button-borderradius;
}


.button-container:hover {
  background-color: var(--button-background-hover);
}


.button-icon {
  font-size: $button-icon-size;
  height: fit-content;
  margin-left: $button-icon-margintext;
}
