<div class="PageContainer">
  <!-------------header--------------->
  <div class="PageHeader-container" *ngIf="desktopScreen">
    <div class="PageHeader-Text">
      Front End
    </div>
  </div>

  <!-----------content-------------->
  <div class="page-content">

    <div class="page-boxescol">
      <div class="box-col">
        <app-info-box class="box-margins" [InfoBox]="MyHistory"></app-info-box>

        <app-portfolio-box class="box-margins"></app-portfolio-box>
      </div>

      <div class="box-col">
        <app-knowledge-box [Odd]="true" class="box-margins" Header="Språk" Catogery="language"></app-knowledge-box>

        <app-knowledge-box [Odd]="false" class="box-margins" Header="Verktyg & System" Catogery="softtools"></app-knowledge-box>

        <app-knowledge-box [Odd]="true" class="box-margins" Header="Mjukvaror" Catogery="graphtools"></app-knowledge-box>
      </div>
    </div>

  </div>
</div>