/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './themes//portfolios.scss';

body {
  margin: 0px !important;
  // font-family: 'Open Sans Condensed', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  font-family: 'Didact Gothic', sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: rgb(212, 212, 212);
    border-radius: 7x;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    border-radius: 7px;
    cursor: pointer;
  }
}



app-frontend,
app-admin,
app-me,
app-career,
app-contact,
app-about {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  max-width: 100%;
}


app-knowledge-box,
app-info-box,
app-portfolio-box,
app-portfolio-card,
app-career-card {
  display: flex;
  max-width: 100%;
}

app-knowledge-item {
  display: flex;
  width: 100%;
  max-width: 100%;
}

app-groupcaller-modal {
  position: relative;
}


