<div class="box-container big">

  <!--the content-->
  <div class="content-container">

    <div style="height:fit-content;">
      <img [@Loggo]="Animations.Loggo.State" class="comploggo" [src]="career.LoggoURL">
    </div>

    <div class="middle-line-container">
      <div [@MiddleLine]="Animations.MiddleLine.State" class="middle-line"></div>
    </div>

    <div [@Content]="Animations.Content.State" class="info-container">

      <div [@paragraphs]="Animations.Content.State" class="title">
        {{career.Title}}
      </div>

      <div [@paragraphs]="Animations.Content.State" class="company-name">
        {{career.CompanyName}}
      </div>

      <div [@paragraphs]="Animations.Content.State" class="time">
        {{career.Time}}
      </div>

      <div [@paragraphs]="Animations.Content.State" class="description" *ngFor="let textPar of career.TextArray">
        <div *ngFor="let text of textPar.Text">
          {{text}}
        </div>
      </div>

    </div>

  </div>

</div>
